@import "templatecolours.css";

body{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
body {text-align: center;}
body{
    /* background-color: rgb(255, 175, 0); */
    background-color: whitesmoke;
}
h1 {text-align: center;}

header {text-align: center;}
header{
    /* background-color: rgb(255, 150, 0); */
    background-color: skyblue;
}

main {
        width: 100%;
        min-height: 250px;
        /* background-color: rgb(255, 125, 0); */
        background-color: whitesmoke;
        background-position: left;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Navigation Bar CSS*/
nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li {
    float: left;
    text-align: center;
}
nav>ul>li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover {
    color:rgb(255, 100, 0);
}


.footer {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: skyblue;
    color: blue;
    position: relative;
    width: 100%;
    bottom: 0;
}

  .col-container {
    display: flex;
    width: 100%;
}
  .col {
    flex: 1;
    padding: 16px;
}



/* Box css code */
.box {
    width: 250px;
    min-height: 50px;
    /* background: rgb(255, 50, 0); */
    background: skyblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    padding: 50px 40px;
}

.box .add-input .input-group input {
    width: 75%;
    height: 50%;
    border: 2px solid rgb(255, 25, 0);
    padding: 20px 20px;
    font-size: 1rem;
    border-radius: 30px;
    outline: 5px;   
}


/* Images CSS */

#wishlistlogo
{
    width: 75px;
    height: 75px;
}

#amazonlogo
{
    width: 75px;
    height: 75px;
}
